modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/neonbet-web: web"

[[workflows.workflow]]
name = "artifacts/neonbet-web: web"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=19702 BASE_PATH=/neonbet-web/ pnpm --filter @workspace/neonbet-web run dev"
waitForPort = 19702

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
MERCHANT_UPI_ID = "judgeproductionmusic@okaxis"
REVENUECAT_PROJECT_ID = "projfafa0678"
REVENUECAT_TEST_STORE_APP_ID = "appc12f0a5f37"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app613b3af307"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app44131b8768"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_hfKcIxmOlnxCkXThGsKJlHdNArr"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_ZjldOvBgzFTwbenmqyyawLwghuS"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_RJqBzVVGwmyUoBEsbDeZfEYtrni"
